<h1>Editing recipelist</h1>

<%= render "form", recipelist: @recipelist %>

<br>

<div>
  <%= link_to "Show this recipelist", @recipelist %> |
  <%= link_to "Back to recipelists", recipelists_path %>
</div>
